.rb_wrap {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 450px;
  line-height: 20px;
  font-size: 12px;
  font-family: arial;
}
.rb_wrap table {
  width: 100%;
}
.rb_wrap th,
.rb_wrap td {
  text-align: left;
  padding: 10px 5px 0;
}
.rb_wrap caption {
  background: #000;
  color: #fff;
  text-align: left;
  padding: 10px;
}
.rb_wrap input,
.rb_wrap textarea {
  width: 350px;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 2px;
}
.rb_wrap input {
  width: 200px;
}
.rb_wrap select {
  margin-right: 5px;
}
.rb_wrap input.btn {
  width: 100px;
  margin-bottom: 20px;
  background: #000;
  color: #fff;
  border: none;
  padding: 5px;
}
.rb_wrap textarea {
  width: 350px;
  height: 100px;
}
#show {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
}
