<div class="ntes-loginframe clearfix">
    <div class="ntes-loginframe-blank clearfix">
        <span class="ntes-loginframe-tips" id="ntes_loginframe_tips">网易邮箱/通行证用户可直接登录</span><br>
        <label class="ntes-loginframe-label clearfix"><span class="loginframe-hidden">账号：</span><input id="js_loginframe_username" type="text" class="ntes-loginframe-label-ipt" placeholder="网易通行证/登录邮箱"></label>
    </div>
    <div class="ntes-loginframe-blank clearfix">
        <label class="ntes-loginframe-label clearfix"><span class="loginframe-hidden">密码：</span><input type="password" class="ntes-loginframe-label-ipt" placeholder="请输入密码"></label>
        <span class="ntes-loginframe-label mt6 mb12 clearfix">
            <label class="c-fl"><input type="checkbox" name="autologin" class="ntes-loginframe-checkbox"><span class="c-fl">十天内免登录</span></label>
            <a href="http://reg.163.com/RecoverPassword.shtml?f=www" class="c-fr">忘记密码？</a>
        </span>
        <button class="ntes-loginframe-btn" id="ntes_loginframe_btn">登　录</button>
    </div>
</div>