<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">

<script language="javascript" type="text/javascript">
document.domain='163.com';

if(window.parent && window.parent.f2e_1365499395388){
	window.parent.f2e_1365499395388({
		"resultcode":999,
		"id":0,
		"ourl":"http://img0.ph.126.net/V6aLrnm2gjh3a6_blTataw==/6597828429680790288.jpg",
		"ow":0,
		"oh":0,
		"murl":"",
		"surl":"",
		"turl":"",
		"squareurl":"",
		"imgStorageType":"3",
		"censorLegality":"false",
		"desc":"",
		"photoGarbageIds":"ourl:2290932613,murl:-1,surl:-1,turl:-1,squareurl:-1,userdef1url:-1,userdef2url:-1,userdef3url:-1",
		"userDef1Url":"",
		"userDef2Url":"",
		"userDef3Url":""
	});
}
</script>

</html>