<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>列表</title>
</head>

<body>
<script src="./libs/vue-2.6.10.js"></script>

<style>
	h2 small{
		font-size:14px;
		font-weight: 400;
	}
	.list{
		font-size:100%;
	}
	.list a {
		margin-left: 2em;
	}
	.list li {
		/*line-height: 2;*/
		margin-bottom:20px;
	}
	.links {
		padding-left:2em;
	}
	pre{
		margin-left: 2em;
	}
</style>

<h2>作战室列表 <small>点击同一个作战室页面的不同用户，以不同身份加入群聊、群视频、白板</small></h2>
<ol id="list" class="list">
	<li v-for="room in warRooms">
		<span>{{ room.name }}</span>
		<span class="links">
			 <a :href="'full-screen.html?token=e8b26990-69c3-462f-b1bb-5a336154fe77&roomId=' + room.id + '&userId=user11&role=2'" target="_blank">大屏</a>

			 <a v-for="(user, index) in users" :href="'war-room.html?token=e8b26990-69c3-462f-b1bb-5a336154fe77&roomId=' + room.id + '&userId=' + user.id+ '&role=' + user.role" target="_blank">用户 {{ index + 1 }}</a>
		</span>
	</li>
</ol>


<pre>说明：
1. 作战室就是一个群组，有群聊、有群音视频、白板
2. PC页面是端上每个用户在自己电脑上行使用，大屏是综合所有人员信息的投射
3. 分块封装，分离配置


需要确定的工作：
1. 作战室的业务定义
2. 接口的约定确定
3. 接口的访问与连调
</pre>

<script>
var list = new Vue({
	el: '#list',
	data: {
		warRooms: [{
			name: "第一作战室",
			id: "war01",
		},{
			name: "第二作战室",
			id: "war02",
		},{
			name: "第三作战室",
			id: "war03",
		}],
		users: [{
			id: 'user9',
			role: 1
		},{
			id: 'user10',
			role: 2
		}]
	}
});
</script>
</body>

</html>