<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title id="title">html5 audio MusicPlayer</title>
<link rel="stylesheet" href="/common/common.css" />
<link rel="stylesheet" href="/component/pop/pop.css" />
<script type="text/javascript" src="/component/pop/pop.js"></script>
<script type="text/javascript" src="http://img1.cache.netease.com/f2e/lib/js/ne.js"></script>
<script type="text/javascript" src="musicplayer.js"></script>
<link href="musicplayer.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="playing"></div>
<script type="text/javascript">
loadMusicPlayer();
function loadMusicPlayer(){
	var songInfo = [
		{"singer":"宗次亮","name":"故乡的原风景","url":"http://www.kf-cn.com/cn/miimg/sound.mp3"},
		{"singer":"Cara Dillon","name":"craigie hill","url":"images/craigie-hill.mp3"},
		{"singer":"Def Leppard","name":"Long long way to go","url":"http://space.wzdsb.net/space_beijiguang/Longlongwaytogo.mp3"},
		{"singer":"Matthew Lien","name":"Bressanon","url":"http://lottery.sz.net.cn/images/2006-08/18/570803181102890167453.mp3"},
		{"singer":"Scorpions","name":"still loving you","url":"http://3393.voxcdn.com/classicrock/scorpions_crgold014_stilllovingyou.mp3"},
		{"singer":"Sinead O'connor","name":"a perfect indian","url":"http://rm.sina.com.cn/wm/VZ200807031731477717VK/music/MUSIC0807031732007910.mp3"}
		]
	var obj = NE.$("#playing");
	var mp = new musicPlayer(obj,songInfo);
		mp.init();
}
</script>
</body>

</html>
