.bound_slide_cnt{width:100%;height:6px; background-color:#ededed;position: relative;}
.bs_hound{position:absolute;height: 6px;overflow: hidden;background-color:#2a83a2;}
.bs_ctrl{position:absolute;z-index:2;margin-left:-4px;top: -7px;width: 9px;height: 19px;overflow: hidden;text-indent:-999px; background:url(images/icons.png) no-repeat 0 0;}
.bs_bound_tip{margin-left:-25px; position: absolute;width:50px;text-align:center;height:23px; line-height:23px;color:#2a83a2;font-size: 14px;top: -30px;}
