/*divScrollbar*/
.divScrollbar{width:1px;background:#e1e1e1;}
.divScrollbar span{background:#d5d5d5;width:12px;height: 70px;display:block;cursor:default;position:absolute;left:-5px;top:0px;border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;-webkit-border-radius: 5px;}