/*玩转*/
.Raiders_list{
	width: 100%; height: 400px; 
	/*margin: 200px auto 0;*/ 
	position: relative;top:-137px;
}
.Raiders_item{
	display:none;
	float:left;
	transition: all 0.3s ease;
	list-style-type:none;
	/*margin-top:200px;*/
}
.Raiders_item_book{
	background:url(../image/3/btn.png);
	width:220px;height:63px;
	font-size:0;	
}
.Raiders_item_on{
	width:800px;
	height:480px;
	display:block;
	box-shadow: 0 0 10px #ddd; 
	border:1px solid #ddd;
	margin-top:-200px;
}
.Raiders_item_on .posi-c,
.Raiders_item_on .posi-bg{
	display:none;
}
.Raiders_item_on .searchDB-on{
	display:block;
}
.Raiders_item_off{
	/*width:300px;*/
	width:calc(50% - 402px);
	height:147px;
	position: relative;
}
.Raiders_item_off .searchDB-on{
	display:none;
}
.Raiders_item_off .posi-bg{
	width:100%;
	height:100%;
}
.Raiders_item_off .posi-c div{
	font-size: 20px; color: #fff; text-align: center; width: 100%; margin: auto;
	line-height:2em;
	height:40px;
	padding: 48px 0;
	background: url(../image/5/thumb.png) center no-repeat;
} 
.Raiders_item_off .posi-c{
	width: 100%; height: 100%;
	position: absolute;
	left:0;
	top:0;
}
/*.Cooldog_container .Cooldog_content .p1,
.Cooldog_container .Cooldog_content .p2,
.Cooldog_container .Cooldog_content .p3,
.Cooldog_container .Cooldog_content .p5,
.Cooldog_container .Cooldog_content .p6{
	transition: all 0.3s ease;list-style-type:none;}*/
/*.Raiders_item img{width:950px;height:545px; vertical-align: middle; display: inline-block;}*/
/*.Cooldog_container .Cooldog_content .p1 img,
.Cooldog_container .Cooldog_content .p2 img,.Cooldog_container .Cooldog_content .p3 img,.Cooldog_container .Cooldog_content .p5 img,.Cooldog_container .Cooldog_content .p6 img{width: 100%; height: 100%;}
.p1 .posi,.p2 .posi,.p3 .posi,.p5 .posi,.p6 .posi{vertical-align: middle; display: inline-block;top: 140px;position: absolute;width:100%;height:100%}*/

.Raiders_list .btn_left, 
.Raiders_list .btn_right{width: 35px;height: 26px; 
	position: absolute; bottom: 320px; z-index: 50;
}

.Raiders_list .btn_left{text-align: left; left: 30px;}
.Raiders_list .btn_right{text-align: right; right: 30px;}
.Raiders_list i{font-size: 50px;}
.searchDB {
	padding-top:50px;
}
.searchDBbgs {
	min-height:938px;	
}
.searchDB-on{background:#fff;padding:50px 0;}
.searchDB-titles{ border-bottom: 1px solid #ddd;
    font-size: 1.5em;
    text-align: center;
    padding: 1.2em;
    color: #822e00;
    line-height: 1.8em;}
.searchDB-desc{font-size: 1.2em;
    text-align: center;
    padding: 1em 2em 1em 2em;
    color: #000;
    line-height: 1.4em;}
.searchDB-desc a{display: block; width: 220px; height: 63px; margin: auto; margin-top: 65px;}
	
.Cooldog_container2{width: 1900px; height: 400px; /*margin: 200px auto 0;*/ position: relative;top:-200px;overflow:hidden}
.Cooldog_container2 .Cooldog_content2{position: absolute; width: 50%; height: 100%; top: 0; left: 50%; margin-left: -475px;}
.Cooldog_container2 .Cooldog_content2 .q4{position: absolute; top: 0; left: 0;display:block;width:100%;height:100%; transition: all 0.3s ease;list-style-type:none;box-shadow: 0 0 10px #ddd; border:1px solid #ddd}
.Cooldog_container2 .Cooldog_content2 .q1{left:-1425px}
.Cooldog_container2 .Cooldog_content2 .q2{left:-950px}
.Cooldog_container2 .Cooldog_content2 .q3{left:-475px}
.Cooldog_container2 .Cooldog_content2 .q4{left:0px}
.Cooldog_container2 .Cooldog_content2 .q5{left:950px;}

.Cooldog_container2 .Cooldog_content2 .q1,.Cooldog_container2 .Cooldog_content2 .q2,.Cooldog_container2 .Cooldog_content2 .q3,.Cooldog_container2 .Cooldog_content2 .q5{position: absolute; top: 0;display:block;width:51%;height:50%; transition: all 0.3s ease;list-style-type:none;}
.Cooldog_container2 .Cooldog_content2 .q4 img{width:950px;height:545px; vertical-align: middle; display: inline-block;}
.Cooldog_container2 .Cooldog_content2 .q1 img,.Cooldog_container2 .Cooldog_content2 .q2 img,.Cooldog_container2 .Cooldog_content2 .q3 img,.Cooldog_container2 .Cooldog_content2 .q5 img{width: 100%; height: 100%;}
.q1 .posi,.q2 .posi,.q3 .posi,.q5 .posi,.q6 .posi{vertical-align: middle; display: inline-block;top: 140px;position: absolute;width:100%;height:100%}
/*.posi .posi-c div{font-size: 20px; color: #fff; text-align: center; width: 100%; height: 100%; margin: auto; display: flex; align-items: center; justify-content: space-around; flex-direction: column;} .posi .posi-c{position: absolute; background: url(../image/5/thumb.png) center no-repeat; width: 100%; height: 100%}*/
.Cooldog_container2 .btn_left2, .Cooldog_container2 .btn_right2{width: 35px;height: 26px; position: absolute; top: 250px; z-index: 50;display: flex; align-items: center; justify-content: space-around; flex-direction: column;}
.Cooldog_container2 .btn_left2{text-align: left; left: 50px;}
.Cooldog_container2 .btn_right2{text-align: right; right: 50px;}
.quitDB-on{background:#fff;height:540px;}
.quitDB-titles{ border-bottom: 1px solid #ddd;
    font-size: 1.5em;
    text-align: center;
    padding: 1.2em;
    color: #822e00;
    line-height: 1.8em;}
.quitDB-desc{font-size: 1.2em;
    text-align: center;
    padding: 1em 2em 1em 2em;
    color: #000;
    line-height: 1.4em;}
.quitDB-desc a{display: block; width: 220px; height: 63px; margin: auto; margin-top: 65px;}


	
	/*极致*/
	.Cooldog_container1{width: 1900px; height: 400px; /*margin: 200px auto 0;*/ position: relative;top:-200px;overflow:hidden}
.Cooldog_container1 .Cooldog_content1{position: absolute; width: 50%; height: 100%; top: 0; left: 50%; margin-left: -475px;}
.Cooldog_container1 .Cooldog_content1 .y2{position: absolute; top: 0; left: 0;display:block;width:100%;height:100%; transition: all 0.3s ease;list-style-type:none;box-shadow: 0 0 10px #ddd; border:1px solid #ddd}
.Cooldog_container1 .Cooldog_content1 .y1{left:-475px}
.Cooldog_container1 .Cooldog_content1 .y2{left:0px}
.Cooldog_container1 .Cooldog_content1 .y3{left:950px;}
.Cooldog_container1 .Cooldog_content1 .y1,.Cooldog_container1 .Cooldog_content1 .y3{position: absolute; top: 0;display:block;width:51%;height:50%; transition: all 0.3s ease;list-style-type:none;}
.Cooldog_container1 .Cooldog_content1 .y2 img{width:950px;height:545px; vertical-align: middle; display: inline-block;}
.Cooldog_container1 .Cooldog_content1 .y1 img,.Cooldog_container1 .Cooldog_content1 .y3 img{width: 100%; height: 100%;}
.y1 .posi,.y3 .posi{vertical-align: middle; display: inline-block;top: 140px;position: absolute;width:100%;height:100%}
/*.posi .posi-c div{font-size: 20px; color: #fff; text-align: center; width: 100%; height: 100%; margin: auto; display: flex; align-items: center; justify-content: space-around; flex-direction: column;} .posi .posi-c{position: absolute; background: url(../image/6/thumb.png) center no-repeat; width: 100%; height: 100%}*/
.Cooldog_container1 .btn_left1, .Cooldog_container1 .btn_right1{width: 35px;height: 26px; position: absolute; top: 250px; z-index: 50;display: flex; align-items: center; justify-content: space-around; flex-direction: column;}
.Cooldog_container1 .btn_left1{text-align: left; left: 50px;}
.Cooldog_container1 .btn_right1{text-align: right; right: 50px;}
.playDB-on{background:#fff;height:540px;}
.playDB-titles{ border-bottom: 1px solid #ddd;
    font-size: 1.5em;
    text-align: center;
    padding: 1.2em;
    color: #822e00;
    line-height: 1.8em;}
.playDB-desc{font-size: 1.2em;
    text-align: center;
    padding: 1em 2em 1em 2em;
    color: #000;
    line-height: 1.4em;}
.playDB-desc a{display: block; width: 220px; height: 63px; margin: auto; margin-top: 65px;}

	.voice_2 { }
		.playDB{height:703px;margin-top:60px;}
		.playDBbgs{height:703px;}
		.playDBbgs img{height:703px;}
		.Cooldog_container1{width: 1440px; height: 400px; /*margin: 200px auto 0;*/ position: relative;top:-200px;overflow:hidden}
		.Cooldog_container1 .Cooldog_content1{position: absolute; width: 50%; height: 100%; top: 0; left: 50%; margin-left: -360px;}
		.Cooldog_container1 .Cooldog_content1 .y2{position: absolute; top: 0; left: 0;display:block;width:100%;height:100%; transition: all 0.3s ease;list-style-type:none;box-shadow: 0 0 10px #ddd; border:1px solid #ddd}
		.Cooldog_container1 .Cooldog_content1 .y1{left:-360px}
		.Cooldog_container1 .Cooldog_content1 .y2{left:0px}
		.Cooldog_container1 .Cooldog_content1 .y3{left:720px;}
		.Cooldog_container1 .Cooldog_content1 .y1,.Cooldog_container1 .Cooldog_content1 .y3{position: absolute; top: 0;display:block;width:360px;height:50%; transition: all 0.3s ease;list-style-type:none;}
		

	/*购物*/






.Cooldog_container4 {
    width: 100%;
    height: 900px;
    margin: 100px auto 0;
    position: relative;
}

.Cooldog_container4 .Cooldog_content4 {
    position: absolute;
     width: 620px;
    height: 470px;
    top: 0;
    left: 50%;
    margin-left: -310px;
}

.Cooldog_container4 .Cooldog_content4 li {
    position: absolute;
    top: 0;
    left: 0;
    width: 620px;
   /* height: 520px;*/
    transition: all 0.3s ease;
	padding: 20px;
    border: 1px solid #ddd;
    background: #fff;border-bottom: 2px solid #eb6100;
	
}

.Cooldog_container4 .Cooldog_content4 li img {
    width: 575px;
    height: 370px;
    vertical-align: middle;
    display: inline-block;
}

.Cooldog_container4 .btn_left4, .Cooldog_container4 .btn_right4 {
    width: 66px;
    height: 66px;
    position: absolute;
    top: 230px;
    z-index: 50;
    color: #fff;
    line-height: 179px;

}

.Cooldog_container4 .btn_left4 {
    text-align: left;
    left: -50px;
}

.Cooldog_container4 .btn_right4 {
    text-align: right;
    right: -50px;
}


.sp1 {
    transform: translate3d(-185px, 24px, 0) scale(0.71);
    transform-origin: 0 50%;
    opacity: 0.8;
    z-index: 2;
}

.sp2 {
    transform: translate3d(-110px, 0, 0) scale(0.81);
    transform-origin: 0 50%;
    opacity: 0.8;
    z-index: 3;
}

.sp3 {
    transform: translate3d(0px, 0, 0) scale(1);
    opacity: 1;
    z-index: 4;
}

.sp4 {
    transform: translate3d(225px, 0, 0) scale(0.81);
    transform-origin: 0 50%;
    opacity: 0.8;
    z-index: 3;
}
.sp5 {
    transform: translate3d(275px, 24px, 0) scale(0.71);
    opacity: 0.8;
    z-index: 1;
}
.shopping-desc{
    height: 25px;
	 overflow: hidden;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    border-top: none;margin-bottom:20px}
.shopping-box:hover .shopping-desc{
	height:auto;
}  
.shopping-box:hover .shopping-down{
	display: none;
}  
.shopping-title{text-align: center;color: #eb6100;font-size: 20px;line-height: 40px;font-weight: 600;}
.shopping-down{width:40px;height:40px;display:block;background: url(../image/down.png) no-repeat center center/cover;margin:auto;-webkit-transition: -webkit-transform 0.2s ease-out;
            -moz-transition: -moz-transform 0.2s ease-out;
            -o-transition: -o-transform 0.2s ease-out;
            -ms-transition: -ms-transform 0.2s ease-out;
            margin-bottom:-10px;
}
.shopping-box .on {
            -webkit-transform: rotateZ(180deg);
            -moz-transform: rotateZ(180deg);
            -o-transform: rotateZ(180deg);
            -ms-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
        }

#follow .row{padding-left:15px;padding-right:15px}



.js-silder{
	position: relative;	
	min-width: 320px;
}
.silder-scroll{
	width: 100%;
	overflow: hidden;
}
.silder-main{
	position: relative;
	width: 100%;
	overflow: hidden;
}
.silder-main-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.silder-main-img img{
	width: 100%;
}
.js-silder-ctrl{
	width: 100%;
	text-align: center;
}
.silder-ctrl-prev,
.silder-ctrl-next{
	position: absolute;
	top: 0;
	width: 8%;
	height: 100%;
	vertical-align: middle;
	cursor: pointer;
	color: #fff;
	font-family: "宋体";
	font-size: 52px;
	font-weight: 600;
	text-shadow: #666 2px 2px 5px;
}
.silder-ctrl-prev{
	left: 0;
	text-align: left;
}
.silder-ctrl-next{
	right: 0;
	text-align: right;
}
.silder-ctrl-prev>span,
.silder-ctrl-next>span{
	position: absolute;
	top: 50%;
	margin-top: -40px;
}
.silder-ctrl-prev>span{
	left: 0;
}
.silder-ctrl-next>span{
	right: 0;
}
.silder-ctrl-con{
	display: inline-block;
	width: 4%;
	padding: 10px 0;
	margin: 0 10px;
	cursor: pointer;
}
.silder-ctrl-con>span{
	display: block;
	line-height: 0;
	text-indent: -9999px;
	overflow: hidden;
	padding: 5px 0;
	cursor: pointer;
	background-color: #e4e4e4;
}
.silder-ctrl-con.active>span{
	background-color: #7bbedf;
}


/*合并页面里的css*/
#header{width: 100%;height: 65px;}
.subnav{height: 35px;width: 200px;float: left;}
.header-top .subnav ul li{list-style-type:none;float: left}
.header-top .subnav .top-list li a{ text-decoration: none;display: block;width: 150px;line-height: 35px;text-align: left;color:#fff;font-family:微软雅黑;background:#0d3467;padding-left:20px}
.header-top .subnav ul li ul li{float: none}
.header-top .subnav ul li ul li a{color:#fff}
.header-top .subnav ul li ul li a:hover{font-size:16px;color:#eb6100}
.header-top .subnav ul li ul{display: none;}
.header-top .subnav ul li:hover ul{display: block;}
#home video{width:100%;height:100%}

.banner { position: relative; overflow: auto; text-align: center;}
.banner li { list-style: none; }
.banner ul li { float: left; }
#b06 { width: 1900px;}
#b06 .arrow { position: absolute; top: 200px;}
#b06 #al { left: 15px;}
#b06 #ar { right: 15px;}
#b07 { width: 1900px;}
#b07 .arrow { position: absolute; top: 200px;}
#b07 #al { left: 15px;}
#b07 #ar { right: 15px;}

/*修改调整新增的css 2018.9.4*/
.main-content {
	width: 980px;
}

#Experience{
	background: url(../image/1/bg_1_all.png) center 550px no-repeat #fff;
	min-height:1360px;
	margin-top: 50px;
}

.one-show-parent {
	min-height:200px;
}
.one-show-child{
	margin:24px 10px;
	width: 168px;
    height: 168px;
    display:inline-block;
    overflow:hidden;
    background-color:#f1f5fa;    
    border-radius: 50%;
    border:2px solid #f1f5fa;
}
.one-show-child .cls-bg{width:100%}
.clsimg{
    width: 166px;
    height: 83px;
    background-color: #fff;
    border-radius: 83px 83px 0 0;
    margin-top: 1px;
}
.clsimg{
	width:164px;height:56px;margin:0 auto;display:block;padding-top:20px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-position:center 15px;
	border:1px solid #fff;
}
.clsimg1 {background-image: url(../image/1/icon_1.png);}
.clsimg2 {background-image: url(../image/1/icon_2.png);}
.clsimg3 {background-image: url(../image/1/icon_3.png);}
.clsimg4 {background-image: url(../image/1/icon_4.png);}
.clsimg5 {background-image: url(../image/1/icon_5.png);}

.cls{
    width:150px;
    height: 73px;
    padding:15px 12px;
    background-color: #e6e6e6;
    color:#000;
    text-align: center;
}
.clsimg .h{display:none;position: relative;
    top: -76px;width:56px;height:56px;margin:0 auto;padding-top:20px;left:55px}
.one-show-child:hover{
	border-color:#017deb;
}
.one-show-child:hover .cls{
	background : #017deb;
	color : #fff;
}
.one-show-child:hover .clsimg1 {background-image: url(../image/1/icon_hover_1.png);}
.one-show-child:hover .clsimg2 {background-image: url(../image/1/icon_hover_2.png);}
.one-show-child:hover .clsimg3 {background-image: url(../image/1/icon_hover_3.png);}
.one-show-child:hover .clsimg4 {background-image: url(../image/1/icon_hover_4.png);}
.one-show-child:hover .clsimg5 {background-image: url(../image/1/icon_hover_5.png);}

#Raiders{
	margin-top: 60px;
}
#Interest {
	margin-top: -60px;
}
#Interest-title{
	position: relative;
}
#Interest-bg{
	margin-top: -250px;
}

#product {
	margin-top:-150px;
}

.product-main{
	width:800px;
	height:600px;
	text-align:center;
}
.product-main img{
	width:100%;
	height:600px;
}
.product-main a{
	display:block;
	width:100%;
	height:600px;
	margin-top:-600px;
	position:relative;
}
.product-desc {
	color:#fff;
	font-size:20px;
	position:absolute;
	left:20px;
	bottom:20px;
	width:500px;
	line-height:1.8;
	z-index:50;
	text-align:left;
}
.product-main .mask{
	display:block;
	height:80px;
	position: absolute;
	left:10px;
	right:10px;
	bottom:15px;
	background-image:url(../image/5/thumb.png);
}
.product-btn{
	display:block;
	width:220px;
	height:63px;
	background-image:url(../image/7/btn.png);
	position:absolute;
	bottom:20px;
	right:40px;
	font-size:0;
	z-index:50;
}

.product-items {
	vertical-align:top;
	padding-left:40px;
}
.product-item {
	float:left;
	display:inline-block;
	width:90px;
	height:90px;
	margin:5px;
}
.product-item img{
	max-width:100%;
	max-height:100%;
}
.product-item .inss-desc{
	display:none;
}

#follow {
	margin-top:100px;
}
.follow-icons{
	margin-top:50px;
}
.startip{
	position:relative;
}
.startip-title {
	position:absolute;
	width:500px;
	left:50%;
	margin-left:-100px;
	top:-230px;
	font-size:20px;
	line-height: 1.6;
}
.startip2 {
	display:none;
}