<div class="public-search">

    <header class="header">
        <i class="icons icon-return" @touchend="goPublicList"></i>
        <div class="public-search-wrap">
            <button type="button" class="icons icon-search">搜索公众号</button>
            <input type="text" placeholder="搜索公众号" class="public-search-field" v-model="stat.searchVal">
        </div>
    </header>

    <div class="public-search-result">
        <h3 class="title">公众号</h3>
        <ul class="public-search-list">
            <li v-if="stat.searchList.length !== 0" class="public-search-item" v-for="item in stat.searchList" @touchend="goPublicInfo(item)">
                <div class="rong-conversation-aside">
                    <div class="rong-avatar"><img :src="item.portraitUri" class="rong-avatar-bd">  <!----> </div>  <!----></div>
                <div class="rong-item-main">
                    <div class="rong-conversation-name"><em>{{item.name}}</em>  <!----></div>
                    <div class="rong-conversation-message"><!----> <!----> <!----> <span>{{item.introduction}}</span></div>
                </div>
            </li>
            <li v-show="!stat.searchResult" class="public-search-item">搜索不到公众号</li>
        </ul>
    </div>

</div>