<meta name="cms_id" content="{ChannelId}cn_head_static" />
<!--#include virtual="/common/head_static.html"-->
<link rel="stylesheet" href="/common/common.css" _group="{ChannelName}" />
<link rel="stylesheet" href="/common/assist_lib.css" _group="{ChannelName}" />
<link rel="stylesheet" href="/common/icon_2013.css" _group="{ChannelName}" />
<link rel="stylesheet" href="/include/2013/cnav2013.css" _group="{ChannelName}" />
<link rel="stylesheet" href="/{ChannelPath}/common/{ChannelName}.css" _group="{ChannelName}" />
<script src="http://img1.cache.netease.com/cnews/js/ntes_jslib_1.x.js" type="text/javascript" charset="gb2312" _group="ntes"></script>
<script src="http://img1.cache.netease.com/f2e/lib/js/ne.js" _group="ntes"></script>