<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>13深色版分享</title>   
    <script src="http://img1.cache.netease.com/f2e/lib/js/ne.js"></script>

    <link rel="stylesheet" href="share_sns.css">
    <script src="share_sns.js"></script>

</head>

<body>

    <ul class="ns-share13-dark">   
        <li class="ns-share-item" data-type="yixin">
            <a href="javascript:;" target="_self" title="分享到易信"><i class="ns-share-icon ns-share-yixin"></i></a>
        </li>    
        <li class="ns-share-item" data-type="lofter">
            <a href="javascript:;" target="_self" title="分享到LOFTER"><i class="ns-share-icon ns-share-lofter"></i></a>
        </li>
        <li class="ns-share-item" data-type="weixin">
            <a href="javascript:;" target="_self" title="分享到微信"><i class="ns-share-icon ns-share-weixin"></i></a>
        </li>   
        <li class="ns-share-item" data-type="qzone">
            <a href="javascript:;" target="_self" title="分享到QQ空间"><i class="ns-share-icon ns-share-qzone"></i></a>
        </li>    
        <li class="ns-share-item" data-type="sinawb">
            <a href="javascript:;" target="_self" title="分享到新浪微博"><i class="ns-share-icon ns-share-sinawb"></i></a>
        </li>
        <li class="ns-share-item" data-type="renren">
            <a href="javascript:;" target="_self" title="分享到人人网"><i class="ns-share-icon ns-share-renren"></i></a>
        </li>
        <li class="ns-share-item" data-type="youdao">
            <a href="javascript:;" target="_self" title="收藏到有道云笔记"><i class="ns-share-icon ns-share-youdao"></i></a>
        </li>
    </ul>

    <script>
        NE(".ns-share13-dark").shareSns({
            qrcodeOffsetX: -64,     //二维码弹层左偏移
            qrcodeOffsetY: 10,      //二维码弹层上偏移
        });
    </script>

</body>

</html>