<!DOCTYPE html>
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="http://qa.developer.163.com/libs/raphael.js"></script>
        <script type="text/javascript" src="../chart.core.js" charset="utf-8"></script>
        <script type="text/javascript" src="../chart.frame.js" charset="utf-8"></script>
        <style>
            #canvas,#canvas2 {margin:50px auto;width:800px;height:600px}
        </style>
    </head>
    <body>
        <div id="canvas"></div> 
        <div id="canvas2"></div> 
        <script>
            var canvas = new NTESChart({
                container : document.getElementById("canvas"),
                width : 800,
                height : 600
            });

            //绘制坐标轴边框
            var data1 = [26,49,38,47,72,76,91,72,60,60,53,58,70,96,87,99,77,90,67,72,83,57,74,69,62,98,80,98,80,78,2];
            var frame = canvas.frame({
                x: 60, y: 20,
                width: 640, height: 300,
                xTick : {maxX : data1.length, interval : 2, labels : "7-{x}"},
                yTick : {ticks : 16, interval : 10, labels : "{y}"},
                grid : {cols : 16, rows : 15}
            });
            var xlabels = [];
            for(var i = 0; i < 16; i++){
                var day = 2*i+1;
                xlabels.push("2012-07-"+(day<10?'0':'')+day);
            }
            /*frame.xTick({
                interval : 2,
                maxX : data1.length,
                labels : xlabels,   //label数组
                rotate : -45,
                dy : 20  //label位置微调
            });*/

            //绘制曲线1
            frame.addSeries(data1, ["curve", "dot"], {
                plotAttr : {stroke: "hsl(.6, .5, .5)"}, fillAttr : {fill: "hsl(.6, .5, .5)"},
                label : "{y} 点击\n2012年7月{x}日",
                dotAttr :{stroke : "hsl(.6, .5, .5)", fill : "#fff"},
                labelPos : "top"
            });

            //绘制曲线2
            var data2 = [8,25,27,25,54,59,79,47,27,44,44,51,56,83,12,91,52,12,40,8,60,29,7,33,56,25,1,78,70,68,2];
            frame.addSeries(data2, ["curve", "dot"], {
                label : "{y} 点击\n2012年7月{x}日",
                hoverArea : 'bottom'
            });
        </script>

		
<!--script type="text/javascript">
var NTES = {
	chart : {}
};	
NTES.chart.draw = function(){};


(function(){
	var config = {
		common : {
			width : 600,
			height : 800,
			background : "#ccccc",
			coordinate : "#dddd",  //坐标线颜色
			condition : {"normal":"#ccc","hover":"#ddd","disable":"#f5f5f5"},   //中国地图，pie图等交互的三种颜色
			dot : {"stoke":"#ffff","fill":"#cd00000","size":"10"}				//链接点
		},
		
		polyline : {
			xTick : 20,
			tTick : 20		//坐标单位
		},
		
		curve : {
			colors : [{"stoke":"#cd0000","fill":"#000"},{"stoke":"#cd0000","fill":"#000"}]
		},
		
		pie : {
			colors : ["#cd0000","#cd0000","#cd0000","#cd0000","#cd0000","#cd0000","#cd0000","#cd0000","#cd0000"]
		}
	};

	
	var data1 = [26,49,38,47,72,76,91,72,60,60,53,58,70,96,87,99,77,90,67,72,83,57,74,69,62,98,80,98,80,78,2];
	var data2 = [8,25,27,25,54,59,79,47,27,44,44,51,56,83,12,91,52,12,40,8,60,29,7,33,56,25,1,78,70,68,2];

	var type = "china/curve/polyline/pie";
	
	var canvas = document.getElementById("canvas2");
	var frame = NTES.chart.draw(canvas,type,data1,config);
		frame.add(data2);
		frame.add((canvas,type2,data1,config));
})();
</script-->
    </body>
</html>
