<!DOCTYPE html>
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="http://qa.developer.163.com/libs/raphael.js"></script>
        <script type="text/javascript" src="../chart.core.js" charset="utf-8"></script>
        <script type="text/javascript" src="../chart.frame.js" charset="utf-8"></script>
        <style>
            #canvas1 {margin:0 auto;width:230px;height:120px;border:1px solid #ddd}
        </style>
        <title>NTESChart 主副y轴绘图</title>
    </head>
    <body>
        <div id="canvas1"></div> 
        <script>
            var canvas1 = new NTESChart({
                container : document.getElementById("canvas1")
            });

            //绘制图表
            var data = [
                    {
                          title : "分时图", 
                          data: [{y:89},{y:61},{y:51},{y:55},{y:52},{y:58},{y:60},{y:63},{y:61},{y:61},{y:60},{y:60},{y:63},{y:61},{y:61},{y:60},{y:60},{y:63},{y:61},{y:61},{y:60},{y:60},{y:63},{y:61},{y:61},{y:60},{y:61},{y:61},{y:60},{y:60},{y:63},{y:61},{y:61},{y:60},{y:60},{y:63},{y:61},{y:61},{y:60}],
                          config : {
                               fillAttr : {'fill' : '#94B8F3'},
                               plotAttr : {"stroke-width": 1.2, stroke:'#7498E3'}
                          }
                    },
                    {
                          title : "10分钟平均线", 
                          data: [90,80,75,71,88,70,75,79,78,70,75,69,61,58,60,55,61,58,60,55,59,62,61,58,60,55,61,58,60,55,59],
                          config : {
                               plotAttr : {"stroke-width": 0.8, stroke:'#333'}
                          }
                    }
            ];
            canvas1.xyChart(data, ["line"], {
                  xTick : {interval : 2, _labels : ["9:30", "", "11:30/13:00", "", "15:00"], maxX:120, txtAttr: {fill : '#999'}},
                  showLegend : false, 
                  padding: {y:15, x:30}, xpadding:0, 
                  grid : {vline:true, midline:true, cols:4, rows:4, shadow:false, plotAttr : {stroke: '#ccc', 'stroke-dasharray': '. '}},
                  //colors : ['#7498E3','#666666'],
                  yTick : {labels : "{y}", midY: 80, txtAttr: {fill : '#999'}}
            });
        </script>

    </body>
</html>
