<!DOCTYPE html>
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="http://qa.developer.163.com/libs/raphael.js"></script>
        <script type="text/javascript" src="../chart.core.js" charset="utf-8"></script>
        <script type="text/javascript" src="../chart.frame.js" charset="utf-8"></script>
        <style>
            #canvas1 {margin:25px auto 0;width:800px;height:350px}
            #canvas2 {margin:0 auto;width:800px;height:350px}
        </style>
    </head>
    <body>
        <div id="canvas1"></div> 
        <div id="canvas2"></div> 
        <script>
            var canvas1 = new NTESChart({
                container : document.getElementById("canvas1")
            });

            //绘制图表
            var data = {
            '大话西游': [26,49,48,47,52,46,51,62,50,40,43,58,60,76,57,69,77,90,67,72,83,57,74,69,62,98,80,98,80,78,2], 
            '天下三' : [560,790,900,907,802,426,591,782,510,492,789,588,900,596,647,489,587,595,609,788,583,674,581,597,591,688,920,518,800,780,520], 
            '有道' : [36,49,88,57,62,66,51,72,70,52,83,58,80,92,87,79,97,70,57,42,53,37,44,59,42,58,60,78,50,28,42]
            };
            canvas1.xyChart(data, ["line","dot"], {
                label : "{y} 点击\n2012年7月{x}日",
                Title : {title: "微门户各频道PV"},
                yTitle : {title: "点击次数"},
                xTick : {interval : 1, labels : "2012-7-{x}", rotate: -50, shiftY:20},
                yTick : {labels : "{y}", apronum: 5},
                anim : true, grid:{shadow: 0, nogrid: 0}
            });

            var canvas2 = new NTESChart({
                container : document.getElementById("canvas2")
            });

            //绘制图表
            var data = [{y:26},{y:49},{y:38},{y:47},{y:72},{y:76},{y:91},{y:72},{y:60},{y:60},{y:53},{y:58},{y:70},{y:96},{y:87},{y:99},{y:77},{y:90},{y:67},{y:72},{y:83},{y:57},{y:74},{y:69},{y:62},{y:98}];
            canvas2.xyChart([{
                    title : "数据",
                    data : data
                }], ["line","dot"], {
                tips : "{y} 点击\n2012年7月{x}日",
                xTick : {interval : 2, _labels: ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']},   //labels : "{x}", 
                yTick : {interval : 10, labels : "{y}"}
            });
        </script>

    </body>
</html>
