<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>微博分享 @ 前端 @ 网易</title>
<link rel="stylesheet" href="http://qa.developer.163.com/system/docs_temp/api.css" />
</head>

<body>
<div class="f2e_wrap"><div class="f2e_wrap_inner">
	<div class="f2e_api_head">
		<div class="f2e_api_logo">
			<strong>网易前端</strong>
		</div>
		<address>developer.163.com</address>
	</div>
	<div class="f2e_api_body">
		<div class="f2e_api_menu">
			<!--#include virtual="../menu.html"-->
		</div>

		<div class="f2e_api_content">
			<h1>微博分享</h1>
			
			<div class="f2e_api_section">
				<p>引入文件 <a href="http://img1.cache.netease.com/f2e/component/share/shareweibo.css">http://img1.cache.netease.com/f2e/component/share/shareweibo.css</a></p>
				<p>引入文件 <a href="http://qa.developer.163.com/component/share/shareweibo_v1_01.js">http://qa.developer.163.com/component/share/shareweibo_v1_01.js</a></p>
			</div>

			<div class="f2e_api_section">
				<h2>参数说明</h2>
				<pre id="f2e_api_code"> 
//自定义微博接口
var tapi = {
	"t163" : 'http://t.163.com/article/user/checkLogin.do?link={url}&source={source}&info={title}{url}&images={pic}&togImg={togImg}&{date}',
	"tsina" : 'http://service.weibo.com/share/share.php?url={url}&title={title}&pic={pic}',
	"tsohu" : 'http://t.sohu.com/third/post.jsp?url={url}&title={title}&content={charset}&pic={pic}',
	"tqq" : 'http://v.t.qq.com/share/share.php?title={title}&url={url}&site={source}&pic={pic}',
	"qzone" : 'http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={url}&title={title}summary={digest}&site={source}&pics={pic}',
	"kaixin001" : 'http://www.kaixin001.com/repaste/bshare.php?rtitle={title}&rcontent={digest}&rurl={url}',
	"douban" : 'http://www.douban.com/recommend/?url={url}&title={title}',
	"renren" : 'http://share.renren.com/share/buttonshare.do?link={url}',
	"msn" : 'http://profile.live.com/badge?url={url}&title={title}',
	"dream" : 'http://dream.163.com/share/link/?url={url}&title={title}'
}

//自定义参数
var opt = {
	"title" : "网易标题测试名",        //页面title标题
	"url" : location.href,              //分享的页面地址
	"digest" : "",                        //摘要
	"pic" : "http://qa.developer.163.com/component/share/images/a.jpg",         //自定义图片
	"source" : '网易',                  //来源
	"sourceLink": "http://www.163.com",       //来源域名
	"charset" : "utf-8",              //编码
	"width" : 700,                     //分享弹框页的宽
	"height" : 680,                   //分享弹框页的高
	"postData" : true,             //打开统计功能，默认打开
	"customIcon" : false         //是否自定义图标内容，false否，ture自定义
};

//自定义微博
var data = {
	"weibo_title" : "分享到：",
	"weibo":
	[
		{"_class" : "t163", "name" : "网易微博"},
		{"_class" : "tsina", "name" : "新浪微博"},
		{"_class" : "tsohu", "name" : "搜狐微博"},
		{"_class" : "tqq", "name" : "腾讯微博"},
		{"_class" : "qzone", "name" : "腾讯空间"},
		{"_class" : "kaixin001", "name" : "开心网"},
		{"_class" : "douban", "name" : "豆瓣"},
		{"_class" : "renren", "name" : "人人"},
		{"_class" : "msn", "name" : "msn"},
		{"_class" : "dream", "name" : "梦幻人生"}
	]
};

//自定义微博html标签
var temp = ['&lt;a href="javascript:;" title="分享到{name}" class="{_class}" _class="{_class}"&gt;{name}&lt;/a&gt;'].join('');
				</pre>
			</div>
			
		<div class="f2e_api_section">
			<h2>代码调用</h2>
			<pre id="f2e_api_code"> 
var share = new Weiboshare(tapi);

share = {
	getParams : function(opt) //微博接口设置自定义参数	
	createShare : function(obj,data,temp) //创建微博
	addEvent : function(obj) //微博点击
	init : function(obj,data,opt,temp) //初始化
};
				</pre>
			</div>
			
			
			<div class="f2e_api_btns">
				<a href="sharedemo.html">查看demo</a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div></div>

</body>
</html>
