.common_popup_border {background:#fff;box-shadow:0 0 5px rgba(0,0,0,.5);-moz-box-shadow:0 0 5px rgba(0,0,0,0.5);-webkit-box-shadow:0 0 5px rgba(0,0,0,.5);}
.common_popup{z-index:100;border:1px solid #61b3de;}
.common_popup_mask {border:0px;background:#000;opacity:0.16;filter:alpha(opacity=16);position:absolute;left:0;top:0;overflow:hidden;}