<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>mp vue</title>
<link href="musicplayer.css" rel="stylesheet" type="text/css">	
</head>
<body>


<div id="playing" class=" music_player">
	<section class="mp_audio">
		<audio src="http://www.kf-cn.com/cn/miimg/sound.mp3" title="宗次亮  -- 故乡的原风景" autoplay=""></audio>
	</section>

	<section class="mp_panel">	
		<div class="mp_title">宗次亮  -- 故乡的原风景</div>	
		<div class="mp_pbar">
			<div class="mp_prog"></div>
			<em class="" id="f2ea7c3d69271bc" style="width: 1px;"></em>
		</div>
		<div class="mp_time"><em>00:00</em>/00:00</div>

		<div>		
			<span class="mp_volume">			
				<strong>音量控制:</strong>
				<span class="mp_volume_slide"><em style="width:100%"></em></span>	
			</span>		
			<span class="mp_muted">静音</span>		
			<br style="clear:both">	
		</div>

		<section class="mp_btns">		
			<span class="mp_prew">上首</span>		
			<span class="mp_play">暂停</span>		
			<span class="mp_next">下首</span>			
			<span class="mp_circle mp_now">循环</span>			
			<span class="mp_single">单曲</span>		
			<span class="mp_add">添加歌曲</span>		
			<span class="mp_clear">清空</span>	
		</section>
	</section>

	<div class="mp_list">
		<ul>
			<li><a href="http://www.kf-cn.com/cn/miimg/sound.mp3" class="mp_item now">宗次亮  -- 故乡的原风景</a><a href="javascript:void(0)" class="mp_del">X</a></li>
		</ul>
	</div>
</div>



</body>
</html>